pymongo
flask
flask_cors
requests
bs4
pandas
transformers
datasets
torch
transformers[torch]
torchvision
torchaudio
scikit-learn
vaderSentiment
nltk
numpy
opencv-python
yt-dlp
ffmpeg-python
coverage
supertest
mongodb-memory-server